<section class="budget-item-section">
    <div class="budget-item-container">
        <div class="income">
            <h1>(+) Income</h1>
            <div *ngFor="let item of budgetItemsList">
                <app-budget-card *ngIf="item.amount>=0" [eachItem]="item" (deleteBudgetClick)="deleteItem(item)"></app-budget-card>

            </div>
        </div>
        <div class="expense">
            <h1>(-) Expense</h1>
            <div *ngFor="let item of budgetItemsList">
                <app-budget-card *ngIf="item.amount< 0" [eachItem]="item" (deleteBudgetClick)="deleteItem(item)"></app-budget-card>

            </div>
        </div>

    </div>
</section>