@import '../../mainStyle.scss';

.budget-item-section{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;

    .budget-item-container{
        display: flex;
        max-width: 650px;
        height: 100%;
        width: 100%;


        .income, .expense{
            display: flex;
            flex-direction: column;
            flex-basis: 0;
            flex-grow: 1;


            h1{
                font-size: 24px;
                font-weight: 800;
                text-transform: uppercase;
            }
        }

        .income{
            margin-right:35px ;
            h1{
                color: $green;
            }
        }

        .expense{
            margin-right:35px ;
            h1{
                color: $red;
            }
        }
    }

}