<form class="form-ui">
    <div class="field is-horizontal">
        <!-- <div class="field-label is-normal">
            <label class="label">Add Income/Expense</label>
        </div> -->
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="number" placeholder="Amount" style="width:150px;">
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Description">
                </p>
            </div>
            <div class="field">
                <button class="button is-dark">Add</button>
            </div>
        </div>

    </div>


</form>