<form #myBudgetForm="ngForm" (ngSubmit)="submitForm()">
    <div class="field is-horizontal">
        <!-- <div class="field-label is-normal">
            <label class="label">Add Income/Expense</label>
        </div> -->
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" [(ngModel)]="budgetForm.amount" name="amount" #amount="ngModel" type="number"
                        placeholder="Amount" style="width:150px;" required>
                </p>
                <div *ngIf="amount.invalid && (amount.dirty || amount.touched)">
                    <span style="color: red;">* Amount Required</span>
                </div>

            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" [(ngModel)]="budgetForm.description" name="description" #description="ngModel"
                        type="text" placeholder="Description" required>
                </p>
                <div *ngIf="description.invalid && (description.dirty || description.touched)">
                    <span style="color: red;">* Description Required</span>
                </div>
            </div>
            <div class="field">
                <button type="submit" [disabled]="myBudgetForm.form.invalid" class="button is-dark">Add</button>
            </div>
        </div>

    </div>


</form>